*{
	margin: 0;
	padding: 0;
}
.header{
	height: 100vh;
}
.video-bg{
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;

}
@media (min-aspect-ratio16/9)
{
	.video-bg{
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio:16/9)
{
	.video-bg{
		width: auto;
		height: 100%;
	}
}
.logo{
	margin: 25px;
	height: 50px;
}
.welcome{
	position: relative;
	text-align: center;
	top: 150px;
	color: #fff;
	font-family: monospace;
}
.welcome h1{
   font-size: 80px;
   font-weight: 100;
   text-shadow: 4px 6px 6px coral;
   letter-spacing: 5px;
   margin-bottom: 30px;
}
.btn{
	font-size: 20px;
	color: #fff;
	margin: 5px;
	padding: 7px 22px;
	text-decoration: none;
	border: 2px solid coral;
	border-radius: 25px;
}
.btn-subscribe, .btn-explore{
	background: #191817;
}
.btn-explore:hover{
   background: coral;
   transition: 0.5s;
}
.btn-subscribe:hover{
   background: mediumseagreen;
   transition: 0.5s;
}